#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    padding:40px;
    display: flex;
    flex-wrap: wrap;
    }

    .photograph-header_col1,
    .photograph-header_col2,
    .photograph-header_col3{
        width:33.33%;
        display: flex;
        align-items:center;
        }
        .photograph-header_col2{
            justify-content:center;
            }
        .photograph-header_col3{
            justify-content:flex-end;
            }
.photograph-header__title{
    color: #D3573C;
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    margin:0 0 10px 0;
}  
.photograph-header__localisation{
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #901C1C;
}
.photograph-header__philosophy{
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #525252;
}



.photograph-header__portrait{
    width:200px;
    height:200px;
    border-radius:50%;
    }
    .photograph-header__img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:50%;
        }


.contact_button {
    font-size: 18px;
    line-height:24px;
    font-weight: 700;
    color: #fff;
    padding: 17px 19px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition:0.05s color ease-in-out,0.1s background-color ease-in-out;
}
.contact_button:hover{
    background-color: #DB8876;
    color:#000;
    transition:0.05s color ease-in-out,0.1s background-color ease-in-out;
}


.sort-by{
    padding:30px 0 0 0; 
}
.sort-by span{cursor:pointer;}

.photograph-medias{
    padding:30px 0 20px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 200px;
    }
.media{
    width:calc(33.33% - 20px);
    margin-bottom:30px;
    }
    .media__figure{
        position: relative;
        padding-top:75%;
        background-color:#222;
        border-radius:5px;
        }
        .media__img{
            width: 100%;
            height:100%;
            object-fit: cover;
            border-radius:5px;
            position: absolute;
            top: 0;
            }
            .media__img-video{
                opacity:0.7;
                }
            .media__icon_video{
                width: 60px;
                height: 60px;
                border-radius:50%;
                border:2px solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%,-50%);
                }
            .media__icon_video svg{
                position: absolute;
                width: 22px;
                height:auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                }
                .media__icon_video svg path{fill:#fff;}

    .media__infos{
        padding:15px 0 0 0;
        display:flex;
        flex-wrap: wrap;
        }
        .media__title{
            margin:0;
            width: calc(100% - 70px);
            color:#901C1C;
            }
        .media__like{
            margin:0;
            width: 70px;
            text-align:right;
            font-weight: 700;
            color:#901C1C;
            font-size:12px;
            line-height:23px;
            }
            .media__like i{
                display:inline;
                margin-left:4px;
                }
                .media__like i svg.like_button{
                    height: 18px;
                    width: auto;
                    vertical-align: -4px;
                    cursor:pointer;
                    }
                    .media__like i svg.like_button path{
                        fill:#901C1C;
                        transition:0.1s fill ease-in-out;
                    }
                    .media__like i svg.like_button:hover path{
                        fill:#DB8876;
                        transition:0.1s fill ease-in-out;
                    }








/* Fenêtre modale */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}