#contact_modal {
    display:none;
}

/* Header photographer */
.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    padding:40px;
    display: flex;
    flex-wrap: wrap;
    }
    .photograph-header_col1,
    .photograph-header_col2,
    .photograph-header_col3{
        width:33.33%;
        display: flex;
        align-items:center;
        }
        .photograph-header_col2{
            justify-content:center;
            }
        .photograph-header_col3{
            justify-content:flex-end;
            }
.photograph-header__title{
    color: #D3573C;
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    margin:0 0 10px 0;
}  
.photograph-header__localisation{
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #901C1C;
}
.photograph-header__philosophy{
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #525252;
}
.photograph-header__portrait{
    width:200px;
    height:200px;
    border-radius:50%;
    }
    .photograph-header__img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:50%;
        }
.contact_button {
    font-size: 18px;
    line-height:24px;
    font-weight: 700;
    color: #fff;
    padding: 17px 19px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition:0.05s color ease-in-out,0.1s background-color ease-in-out;
}
.contact_button:hover{
    background-color: #DB8876;
    color:#000;
    transition:0.05s color ease-in-out,0.1s background-color ease-in-out;
}


/* Dropdown menu */
.sort-by{
    padding:25px 0 0 0;
    font-weight: 700;
}
#sort-by-container{
    position: relative;
    margin-left:8px;
    }
#sort-by-wrapper{
    position: absolute;
    top:-12px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    z-index:1;
    background-color: #901C1C;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }
    .sort-by-item{
        display:none;
        position: relative;
        background-color: #901C1C;
        color:#fff;
        padding:12px 40px 12px 12px;
        cursor:pointer;
        transition:0.1s background-color ease-in-out, 0.05s color ease-in-out;
    }
    .sort-by-item:hover{
        background-color: #DB8876;
        color:#000;
        transition:0.1s background-color ease-in-out, 0.05s color ease-in-out;
    }
    .sort-by-item:first-child{
        display:block;
        border:none;
    }
    #sort-by-wrapper.dropdownOpen .sort-by-item{
        border-bottom:1px solid #DB8876;
    }
    #sort-by-wrapper.dropdownOpen .sort-by-item:last-child{
        border-bottom:none;
    }
    #sort-by-wrapper::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url("../assets/images/chevron-dropdown.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 13px;
        right: 8px;
        z-index: 1;
        pointer-events: none;
        transform:rotate(-0deg);
        transition:0.1s transform ease-in-out;
    }
    #sort-by-wrapper:hover::before{
        transform:rotate(-180deg);
        transition:0.1s transform ease-in-out;
    }


/* Section médias */
.photograph-medias{
    padding:25px 0 30px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 200px;
    }
.media{
    width:calc(33.33% - 20px);
    margin-bottom:30px;
    }
    .media__figure{
        position: relative;
        padding-top:75%;
        background-color:#222;
        border-radius:5px;
        }
        .media__img{
            width: 100%;
            height:100%;
            object-fit: cover;
            border-radius:5px;
            position: absolute;
            top: 0;
            cursor:pointer;
            box-shadow:0 0 30px rgba(0, 0, 0, 0);
            transition:0.2s box-shadow ease-in-out;
            }
            .media__img:hover{
                box-shadow:0 0 30px rgba(0, 0, 0, 0.4);
                transition:0.2s box-shadow ease-in-out;
            }
            .media__img-video{
                opacity:0.7;
                }
            .media__icon_video{
                width: 60px;
                height: 60px;
                border-radius:50%;
                border:2px solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%,-50%);
                }
            .media__icon_video svg{
                position: absolute;
                width: 22px;
                height:auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                }
                .media__icon_video svg path{fill:#fff;}
    .media__infos{
        padding:15px 0 0 0;
        display:flex;
        flex-wrap: wrap;
        }
        .media__title{
            margin:0;
            width: calc(100% - 70px);
            color:#901C1C;
            }
        .media__like{
            margin:0;
            width: 70px;
            text-align:right;
            font-weight: 700;
            color:#901C1C;
            font-size:12px;
            line-height:23px;
            }
            .media__like i{
                display:inline;
                margin-left:4px;
                }
                .media__like i svg.like_button{
                    height: 18px;
                    width: auto;
                    vertical-align: -5px;
                    cursor:pointer;
                    }
                    .media__like i svg.like_button path{
                        fill:#901C1C;
                        transition:0.1s fill ease-in-out;
                    }
                    .media__like__wrapper{
                        background-color: transparent;
                        padding: 4px 4px 4px 6px;
                        border-radius: 3px;
                        cursor:pointer;
                        transition:0.1s background-color ease-in-out;
                    }
                    .media__like__wrapper:hover{
                        background-color: #DB8876;
                        color:#000;
                        transition:0.1s background-color ease-in-out;
                    }
                    .media__like__wrapper:hover .like_button path{
                        fill:#fff;
                        transition:0.1s fill ease-in-out;
                    }
                    .media__like__wrapper.liked{
                        background-color: #DB8876;
                        color:#000;
                    }
                    .media__like__wrapper.liked .like_button path{
                        fill:#fff;
                    }

/* Fenêtre modale */
.background_modal{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.6);
    width:100%;
    height:100vh;
    top:0;
    z-index:2;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.modal {
    border-radius: 5px;
    background-color: #fff;
    width: 50%;
    max-width: 600px;
    padding: 35px;
    position: relative;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

.modal header {
    width: 100%;
}

.modal header img {
    cursor: pointer;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal header #form_title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    margin-bottom: 30px;
}
.modal header #form_title span{
    color:#D3573C;
}

form {
    width: 100%;
}

form label {
    color: #525252;
    font-size: 17px;
    line-height:1.5;
    display:block;
    margin-bottom:5px;
}

form div {
    width: 100%;
    margin-bottom: 17px;
}

form input,
form textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ededed;
}
form input {
    height: 45px;
}
form textarea{
    resize: none;
}
form .contact_button{
    margin-top:10px;
}

/* Footer infos */
#footer_infos{
    position: fixed;
    bottom:0;
    right:25px;
    padding:15px;
    background-color: #DB8876;
    border-radius:5px 5px 0 0;
    }
    .footer_infos__p{
        text-align:right;
        margin:0;
        }
        .footer_infos__counter{
            margin-right:15px;
        }
        .footer_infos__counter svg{
            margin-left:5px;
            height:18px;
            width:auto;
            display:inline;
            vertical-align: -3px;
        }



/* LightBox */
#lightbox_background{
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:3;
    top:0;
    display:none;
}
#lightbox_close{
    position: absolute;
    top:20px;
    right:20px;
    width: 33px;
    height:33px;
    cursor: pointer;
}
#lightbox_close svg{
    width: 100%;
    height: 100%;
}
#lightbox_close svg path{
    fill:#901C1C;
    transition:0.1s fill ease-in-out;
}
#lightbox_close:hover svg path{
    fill:#DB8876;
    transition:0.1s fill ease-in-out;
}

#lightbox_next,
#lightbox_prev{
    position: absolute;
    top:50%;
    margin-top:-25px;
    width: 50px;
    height:50px; 
    cursor: pointer;
}
#lightbox_next{right:20px;}
#lightbox_prev{left:20px;}

#lightbox_prev svg,
#lightbox_next svg{
    width: 30px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    margin: 0 5px;
}
#lightbox_prev svg{
    left: 0;
}
#lightbox_next svg{
    right: 0;
}
#lightbox_prev svg path,
#lightbox_next svg path{
    fill:#901C1C;
    transition:0.1s fill ease-in-out;
}
#lightbox_prev:hover svg path,
#lightbox_next:hover svg path{
    fill:#DB8876;
    transition:0.1s fill ease-in-out;
}

#lightbox_container{
    position: fixed;
    width: calc(100vw - 200px);
    height: calc(100vh - 150px);
    top:75px;
    left:100px;
}
#lightbox_container .slide{
    position: absolute;
    width: 100%;
    height: 100%;
}
#lightbox_container .slide__title{
    position: absolute;
    width: 100%;
    margin:0;
    bottom:-30px;
    text-align: center;
    color: #901C1C;
}
.slide__figure{
    position: absolute;
    width: 100%;
    height:100%;
}
.slide__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slide__video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
}